.footer {
  display: flex;
  background-color: var(--BLACK);
  height: 64px;
  color: var(--OFFWHITE);
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 0.5rem;
}
.a,
.a:visited {
  color: var(--OFFWHITE);
  text-decoration: none;
}
.no_wrap {
  white-space: nowrap;
}
@media screen and (min-width: 1080px) {
  .footer {
    font-size: 20px;
    height: 80px;
  }
}
