@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

:root {
	/* COLORS */
	--DARKPINK: #ef8ba1;
	--LIGHTPINK: #feb7ba;
	--BLACK: #111111;
	--DARKGREY: #353535;
	--LIGHTGREY: #525151;
	--OFFWHITE: #f7f7f7;

	/* FONTS */
	--PRIMARYFF: "Montserrat", sans-serif;

	/* TRANSITION */
	--TRANS: 200ms cubic-bezier(0.13, 0.53, 0.38, 0.97);
}

/* RESET */
*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.mask {
	overflow: hidden;
}

.main {
	background-color: var(--OFFWHITE);
	color: var(--DARKGREY);
	font-family: var(--PRIMARYFF);
	font-size: 1rem;
}
