.hero {
  height: 590px;
  background-image: linear-gradient(
      to bottom,
      rgba(247, 247, 247, 1),
      rgba(247, 247, 247, 0)
    ),
    url("../public/assets/img/spa.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}
.h1 {
  font-size: 1.25rem;
  text-transform: uppercase;
  width: 80%;
  text-align: center;
  font-weight: 500;
  margin: 1rem 0rem;
}
.btn {
  background-color: var(--DARKPINK);
  padding: 10px 15px;
  color: var(--OFFWHITE);
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 1.25rem;
}
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 3.25rem;
  margin-bottom: 4rem;
}
.logo-bg {
  background-image: linear-gradient(
      to bottom,
      rgba(247, 247, 247, 0.8),
      rgba(247, 247, 247, 0.8)
    ),
    url("../public/assets/img/socalmedspalady.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
.h2 {
  text-transform: uppercase;
  font-size: 1.125rem;
}
.p {
  text-align: center;
  color: var(--LIGHTGREY);
  margin-top: 1rem;
  font-size: 12px;
  line-height: 160%;
}
.img-large {
  width: 320px;
  height: 320px;
  margin-top: 1.25rem;
}
.hr {
  width: 50%;
  border-top: 2px solid var(--DARKPINK);
  margin-top: .5rem;
  margin-bottom: 1rem;
}
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  align-items: center;
}
.input {
  border: 1px solid var(--DARKGREY);
  height: 40px;
  width: 100%;
  padding: 15px 10px;
  border-radius: 5px;
}
.input, .input::placeholder {
  font: inherit;
  color: var(--LIGHTGREY);
}
.input::placeholder {
  color: #525151;
}
