.main {
	display: flex;
	flex-direction: column;
	gap: 4.5rem;
}
.hero {
	/* height: 50px; */
	background-image: url("../public/assets/img/hero.jpg");
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	align-items: center;
	justify-content: center;
	margin: 0 3rem;
	border-radius: 60px;
}

.h1 {
	text-transform: uppercase;
	font-weight: normal;
	color: var(--OFFWHITE);
	letter-spacing: .05rem;
	margin-bottom: 24px;
	font-size: 3rem;
}
.btn {
	background-color: var(--DARKPINK);
	padding: 15px 20px;
	color: var(--OFFWHITE);
	border: none;
	text-transform: uppercase;
	font-size: 14px;
	border-radius: 50px;
	transition: var(--TRANS);
	cursor: pointer;
}
.btn:hover, .btn:active {
	background-color: #312b2b;
}
.btn:hover {
	transform: scale(1.1);
}
.btn:active {
	transform: scale(.95);
}
.section {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.logo-bg {
	background-image: linear-gradient(
			to bottom,
			rgba(247, 247, 247, 0.85),
			rgba(247, 247, 247, 0.85)
		),
		url("../public/assets/img/socalmedspalady.jpg");
	padding: 0 3.25rem;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.h2 {
	text-transform: uppercase;
	font-size: 1.125rem;
}
.h3 {
	text-transform: uppercase;
	font-size:2rem;
}
.p {
	text-align: center;
	color: var(--LIGHTGREY);
	margin-top: 1rem;
	font-size: 14px;
	line-height: 160%;
}
.hr {
	width: 50%;
	border-top: 2px solid var(--DARKPINK);
	margin-top: 0.5rem;
	margin-bottom: 1rem;
}
.form {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 1rem;
	align-items: center;
}
.input {
	border: 1px solid var(--DARKGREY);
	height: 40px;
	width: 100%;
	padding: 15px 10px;
	border-radius: 5px;
}
.input,
.input::placeholder {
	font: inherit;
	color: var(--LIGHTGREY);
}
.input::placeholder {
	color: #525151;
}
.link, .link:visited {
	color: inherit;
	text-decoration: none;
}
.info {
	display: flex;
	gap: .25rem;
}
.icon {
	margin-top: 1rem;
	width: 32px;
	height: 32px;
}
@media screen and (min-width: 690px) {
	.h1 {
		font-size: 28px;
	}
	.h2 {
		font-size: 26px;
	}
	.p {
		font-size: 16px;
	}
	.btn {
		font-size: 16px;
		padding: 15px 20px;
		border-radius: 30px;
	}
	.section {
		width: 50%;
		margin: auto;
	}
	.hero {
		height: 80vh;
	}
	.hr {
		width: 25%;
	}
	.form {
		width: 70%;
	}
}
@media screen and (min-width: 1080px) {
	.logo-bg{
		background-image: linear-gradient(
			to bottom,
			rgba(247, 247, 247, 1),
			rgba(247, 247, 247, 1)
		),
		url("../public/assets/img/socalmedspalady.jpg");
	}
}