.nav {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
}
.menu {
  border: none;
  display: none;
	cursor: pointer;
	background-color: transparent;
}
.navlinks {
  display: flex;
  gap: 1rem;
}
.navlink_a, .navlink_a:visited, .navlink_b, .navlink_b:visited, .nav_cta {
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
  font-size: 20px;
  border-radius: 50px;
  transition: var(--TRANS);
}
.navlink_b, .nav_cta {
  padding: 10px 20px;
}
.nav_cta {
  background-color: var(--DARKPINK);
}
.navlink_b:hover, .nav_cta:hover {
  background-color: #E3E1E1;
  border: 2px solid var(--BLACK);
}

@media screen and (max-width: 640px) {
  .nav {
    height: 6rem;
    padding: 0 1rem;
  }
  .logo {
    width: 115px;
    height: 70px;
  }
  .menu {
    display: flex;
  }
  .navlinks {
    display: none;
  }
}