.nav {
  height: 140px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
}
.logo {
  width: 130px;
  height: 80px;
}
.btn {
  border: none;
  display: none;
	cursor: pointer;
	background-color: transparent;
}
.navlinks {
  display: flex;
  gap: 2rem;
}
.navlink, .navlink:visited {
  text-decoration: none;
  color: inherit;
  font-size: 20px;
  padding: .5rem 1rem;
  border-radius: 20px;
}
.navlink:hover {
  background-color: rgb(238, 238, 238);
}
@media screen and (max-width: 640px) {
  .nav {
    height: 6rem;
    padding: 0 1rem;
  }
  .logo {
    width: 115px;
    height: 70px;
  }
  .btn {
    display: flex;
  }
  .navlinks {
    display: none;
  }
}